*Requirements*

```
pandas
numpy
matplotlib
seaborn
scikit-learn
gdown
```

Version Requirements

```
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
gdown==4.7.1
```
